@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This Web application is made for web development purpose</p><br />
<p>This Web application is not made for sell</p>
<p>This is minimalistic web application just for the owner no one else can enter this website</p>
