@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Rajshahi Univers<br />
    Kajla Talaimari<br />
    <abbr title="Phone">01734119282</abbr>
</address>

<address>
    <strong>Email: </strong>   <a href="">iammonmoy@gmail.com</a><br />
    <strong>Email: </strong>   <a href="">www.rimty@gmail.com</a><br />
</address>