@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="cover">
    <div class="cover-text">
        <h1 id="cover-heading">Business Management has never been easier !!</h1>
        <p class="lead cover-description">Our complete package with desktop application for seller and website for owner</p>
    </div>
</div>
